td{
  border: 1px solid rgb(116, 116, 116);
  border-radius: 5px;
  font-size: 30px;
  background-color: black;
  color:#537FE7;
  padding: 20px 30px;
  text-align: center;
  width: max-content;
}
*{
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table{
  margin: 0 auto;
  padding: 50px 0px;
}
img{
  width: 300px; 
  border-radius: 20px;
  
}
.color{
  color: #C0EEF2 !important;
  align-self: center;
}
button{
  color: white;
  padding-left: 10px;
  padding-right: 15px;
  border: none;
  font-size: 30px;
  letter-spacing: -2px;
  font-weight: 700;
}
.custom{
  text-align: end;
}